<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="./css/site.css" />
    </head>
    <body>
        <h1>Hello New Users</h1>
        <header>
            <nav>
                <a href="/">Home</a>
                <a href="/register">Register</a>
                <a href="/update">Update</a>
            </nav>
        </header>
        <section>
            <h3>Casey Gunter's Private Wireless Network</h3>
            <p>
                Welcome to my authentication site. Here you can request VPN access to my network to gain remote access to the community's projects, files, and pbx communication.
            </p>
            <p>
                This website provides users with the opportunity to apply for VPN access. The private network is constantly monitored and protected by a firewall to prevent harm or misuse. Registering for a VPN certificate means that you agree to use the network and its resources appropriately and you will not use this to do harm.
            </p>
        </section>
        <footer>
            Copyright Casey Gunter 2025
        </footer>
    </body>

</html>