<!DOCTYPE html>
<html>
    <head>
        <title>Register New User</title>
        <link rel="stylesheet" href="./css/site.css" />
    </head>
    <body>
        <h1>Hello New User</h1>
        <header>
            <nav>
                <a href="/">Home</a>
                <a href="/register">Register</a>
                <a href="/update">Update</a>
            </nav>
        </header>
        <section>
            <h1>Casey Gunter's Private Wireless Network</h1>
            <p>
                Welcome new user to my authentication site
            </p>
            <h1>Add a new user</h1>
            <form method="post">
                <label>Username</label><input type="text" name="username" />
                <br>
                <label>Password</label><input type="text" name="password"/>
                <br>
                <label>Email</label><input type="text" name="email"/>
                <br>
                <input type="Submit"/>
            </form>
        </section>
        <footer>
            Copyright Casey Gunter 2025
        </footer>
    </body>

</html>